<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button title="Gestion des parcelles">
    <mat-icon fontSet="material-icons-outlined">view_module</mat-icon>
  </button>
  <button mat-icon-button title="Gestion des pâtés">
    <mat-icon fontSet="material-icons-outlined">crop_square</mat-icon>
  </button>
  <button mat-icon-button title="Gestion des territoires">
    <mat-icon fontSet="material-icons-outlined">view_comfy_alt</mat-icon>
  </button>
</mat-toolbar>
