<app-map
  id="map"
  [data]="plots"
  [createPopUp]="this.popupService.makePlotPopUp"
  [(selection)]="selection"></app-map>

<!-- Add a mat-flat-button to call the deleteParcelles method-->
<button
  mat-flat-button
  color="accent"
  style="width: 50vw; height: 10vh; font-size: 2vh"
  (click)="deleteParcelles()">
  Suppression de la sélection
</button>

<button
  mat-flat-button
  color="warn"
  style="width: 50vw; height: 10vh; font-size: 2vh">
  Ajout à la sélection
</button>
<button
  mat-flat-button
  color="warn"
  (click)="generateBlock()"
  style="width: 50vw; height: 10vh; font-size: 2vh">
  Génération d'un pâté
</button>
